<h2>Show repository</h2>

<ul>

  <li>
    <strong>Name:</strong>
    <%= @repository.name %>
  </li>
  <li>
    <strong>Tags:</strong>
    <ul>
      <%= for tag <- @repository.tags do %>
          <li><%= tag %></li>
      <% end %>
  </li>

</ul>

<%= link "Repositories", to: repository_path(@conn, :index) %>
