<h2>Show repository</h2>

<%= link "Update tag data", to: repository_path(@conn, :show, @repository.id, update: true) %>

<ul>

  <li>
    <strong>Name:</strong>
    <%= @repository.name %>
  </li>
  <li>
    <strong>Tags:</strong>
    <ul>
      <%= for tag <- @repository.tags do %>
          <li><%= tag.name %> - <%= tag.creation_timestamp %></li>
      <% end %>
    </ul>
  </li>

</ul>

<%= link "Repositories", to: repository_path(@conn, :index) %>
